
{% extends "base.html" %}

{% block content %}

    <div style="font-family: 'RocknRoll One',sans-serif;color: #353839;" class="mt-5">
        <h2 style="text-decoration: underline;">Hi, {{ current_user.username }}!</h2>
        {% if form %}
        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label(class="say_something mt-3") }}<br>
                {{ form.post(cols=32, rows=4, class="text_area_post",) }}<br>
                {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class="singin border-0 px-3 py-1")}}</p>

            Select tag: <select name="post_tag" method="POST">
                {% for tag in tags %}
                <option value= "{{ tag }}" SELECTED>{{ tag }}</option>
                {% endfor %}
            </select>

        </form>

       
        {% endif %}


        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}

        {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
        {% endif %}
        
    </div>    

{% endblock %}