{% extends "base.html" %}

{% block content %}

<div class="col-lg-7 mx-auto">
        <div class="card my-5" style="box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 2rem;">
            <div class="card-body" style="font-family: 'RocknRoll One', sans-serif;">
                <h1 style="color: #353839;">Reset Password</h1>
                <form action="" method="post" class="mt-4">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.email.label(class='passwrod_label') }}<br>
                        {{ form.email(size=64, class="col-lg-10 input_email_reset") }}<br>
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(class="singin border-0 px-3 py-1 mt-3") }}</p>
                </form>
            </div>   
         </div>       
    </div>      
{% endblock %}


 